<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout}">
<!--<head>-->
<head>
    <meta charset="UTF-8">
    <title>List Users</title>
</head>
<body>
<div layout:fragment="content">
<!--<h1>List User</h1>-->
<div class="container">

    <div class="row" style="padding-top: 20px !important;">
        <div class="col-md-6">
            <h5>List Users</h5>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary btn-sm float-end" th:href="@{/admin/users/add}">Add</a>
        </div>
    </div>
    <br>
    <hr>
    <div class="row">
        <table class="table table-ordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getPhoneNumber()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td >
                            <span class="badge bg-primary" th:if="${user.getStatus()}=='ACT'">
                                Active
                            </span>
                    <span class="badge bg-danger" th:if="${user.getStatus()=='DEL'}">
                                Delete
                            </span>
                </td>
                <td >
                    <a th:href="@{/admin/users/edit/{id}(id=${user.getId()})}" class="btn btn-primary btn-sm">Edit</a>
                    <a th:href="@{/admin/users/delete/{id}(id=${user.getId()})}" class="btn btn-danger btn-sm">Delete</a>
                    <a class="btn btn-primary btn-sm">View</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </tfoot>
        </table>
    </div>

</div>
</div>
</body>
</html>