<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout}">
<!--<head>-->
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <!--<h1>List User</h1>-->
    <div class="container">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <div class="row">
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" id="username"
                           name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password"
                           name="password" required>
                </div>
            </div>
            <div class="row">
                <div class=col-sm-12>
                <button type="submit" class="btn btn-primary btn-sm btn-block">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>